.welcome {
  padding: 20px 0 40px 0;

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid var(--primary-color-dark);
  }

  &__sort {
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;

    .film-card {
      width: 300px;
      margin-bottom: 20px;
      &:not(:nth-child(3n)) {
        margin-right: 45px;
      }
    }
  }

  &__show-more {
    width: 100%;
    padding: 20px 0;

    font-size: 24px;
    color: var(--primary-color-text);

    border: none;
    border-radius: 4px;
    background-color: var(--primary-color-dark);

    cursor: pointer;
    outline: none;

    &:hover {
      background-color: var(--primary-color);
    }

    &:active {
      background-color: var(--accent-color);
    }
  }
}
