@import "~materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;

  --primary-color-dark: #4300a8;
  --primary-color: #673AB7;
  --primary-color-light: #D1C4E9;
  --primary-color-text: #FFFFFF;
  --accent-color: #536DFE;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #BDBDBD;
  --filter-active: darkturquoise;

  background: var(--primary-color-light);

}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
}
